.main1 {
    width: 94%;
    margin: auto;
    background-color: '#00000066';
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input1 {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .button1 {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  .table-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .table {
    width: 60%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #3498db;
    color: white;
  }
  
  .table td {
    background-color: #f9f9f9;
  }
  
  .error-message {
    color: #c0392b;
    margin-top: 10px;
    font-weight: bold;
  }
  